:root {
  --title-color: #322153;
  --primary-color: #34cb79;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html{
  font-family: Roboto, sans-serif;
}
body{
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
}

a{
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Ubuntu, sans-serif;
  color: var(--title-color);

}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 68, 156);
  
  position: relative;
  top: -10vh;
  left: 20vw;

  transition: 400ms;

}
footer a span {
  font-family: Ubuntu, sans-serif;
  color: #245e91;
  font-size: 20px;
  margin-left: 5px;

  transition: 400ms;
}

footer a:hover {
  opacity: 0.7;
}

footer a span:hover {
  text-decoration: underline;
}